target
/classes
/checkouts
.lein-repl-history
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
.nrepl-port
.hgignore
.hg/
example/data
example/results.nippy
.cpcache
.clj-kondo
.calva
.lsp
repeatedAbstrcats.txt
test/data/amazon_reviews.libsvm
test/data/amazon_reviews.csv
pom.properties
