{:paths ["src" "target/classes"]
 :deps
 {org.clojure/clojure               {:mvn/version "1.12.0"}
  ml.dmlc/xgboost4j_2.12            {:mvn/version "2.1.1"}
  ;ml.dmlc/xgboost4j-spark_2.12      {:mvn/version "2.1.1"} ;; what for ??
  org.scicloj/metamorph.ml          {:git/url "https://github.com/scicloj/metamorph.ml"
                                     :git/sha "5374ed5c06a05a0a109f1464cc60bf74819995df"}
  ;{:mvn/version "0.9.0"}

  com.github.haifengl/smile-core    {:mvn/version "2.6.0"}

  org.apache.hadoop/hadoop-common   {:mvn/version "3.3.0"
                                     :exclusions [org.apache.commons/commons-math3
                                                  org.slf4j/slf4j-log4j12]}
  pppmap/pppmap {:mvn/version "1.0.0"}}

 :aliases {:exp {:extra-paths "exp"
                 :extra-deps {org.clojure/data.csv {:mvn/version "1.1.0"}}
                 :jvm-opts ["-Xms8g" ]}
           :codox {:extra-deps {codox/codox {:mvn/version "0.10.7"}
                                codox-theme-rdash/codox-theme-rdash {:mvn/version  "0.1.2"}}
                   :exec-fn codox.main/generate-docs
                   :exec-args {:metadata {:doc/format :markdown}
                               :themes [:rdash]
                               :source-paths ["src"]
                               :output-path "docs"}}



           :build {:deps {io.github.seancorfield/build-clj
                          {:git/tag "v0.4.0" :git/sha "54e39ae"}
                          io.github.clojure/tools.build {:mvn/version "0.9.6"}
                          slipset/deps-deploy           {:mvn/version "0.2.1"}           

                          }
                   :ns-default build}

           :run-tests {:main-opts ["-m" "kaocha.runner"]}
           :test {:extra-paths ["test"]

                  :extra-deps {
                               org.scicloj/scicloj.ml.smile {:mvn/version "7.4.2"}
                               lambdaisland/kaocha {:mvn/version "1.60.945"}}}}}
                  
